






    /* width: 300%;
    height: 100%; */


  .animation::before {
    content: "";
    position: fixed;
    width: 50%;
    height: 40%;
    background-color: #000000;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) skew(0, -10deg);
    border-radius: 50%;
    z-index: -1;
    animation: waving 5s ease-in-out infinite alternate;
  }

  @keyframes waving {

    to {
      transform: translateX(-30%) skew(10deg, 0);
    }
  }
















    /* start grid */

    /* 
    - grid-template-columns: repeat(5, 200px);
       - grid-template-columns: repeat(5, 1fr);
    - grid-template-columns: repeat(auto-fill, 200px);
    - grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));



    */
    .parent {
      margin: 20px auto;
      height: 500px; 
      background-color: #ddd;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
      gap: 30px;
    }
    .parent div {
      background-color: red;
      color: white;
      padding: 20px;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
    }
  
    /* .parent div:nth-child(1){
      background-color: blue;
    }
  
    .parent div:nth-child(2){
      background-color: blue;
      order: 4;
    } */
  
    /* end grid */
  
  /* 
  - order:
  - justify-items:
  www.cssflex.com
  www.cssgrid.com
   */